@use '/src/core/scss/utilities/mixin' as *;
@use '/src/core/scss/utilities/variables' as *;

.pages-saved {
  @include configureImage('/src/assets/other-pages.jpg', contain, top);
  @include overlay($overlay-dark);
  min-height: $pages-min-height;

  &__text {
    position: relative;
    @include flexbox(column, nowrap, center, center);
    gap: 0.5rem;
    padding: 1rem;
  }
}

.saved {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  position: relative;
  padding: 1rem;
}
