@use '/src/core/scss/utilities/mixin' as *;
@use '/src/core/scss/utilities/variables' as *;

.pages-saved {
  background-image: url('/src/assets/saved.jpeg');
  height: 100vh;
  background-size: cover;
  @include overlay(#0000008c);

  &__text {
    position: relative;
    @include flexbox(column, nowrap, center, center);
    gap: 0.5rem;
    padding: 1rem;
  }
}

.saved {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  position: relative;
  padding: 1rem;
}
