@use '/src/core/scss/utilities/mixin' as *;
@use '/src/core/scss/utilities/variables' as *;

.color-palettes {
  @include configureImage('/src/assets/other-pages.jpg', contain, top);
  @include overlay($overlay-dark);
  min-height: $pages-min-height;
  padding: 1rem;

  &__cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
  }

  &__buttons {
    position: relative;
    padding: 1.5rem;
    @include flexbox(row, nowrap, center, center);
  }

  &__header {
    position: relative;
    @include flexbox(column, nowrap, center, center);
    gap: 1rem;
    padding: 1.5rem;
  }

  &__controls {
    @include flexbox(row, nowrap, center, center);
    gap: 1rem;

    &-btn {
      font-size: 1.2rem;
      cursor: pointer;

      &:hover {
        color: $main;
      }
    }
  }

  &__range {
    border: 1px solid $main;
    border-radius: 1rem;
  }

  &__top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 3;
    cursor: pointer;
    gap: 1rem;
    border: 1px solid $main;
    border-radius: 1rem;
    padding: 0.4rem;
    background-color: $main;
    color: $white;
    font-size: 1.2rem;
  }
}
