@use '/src/core/scss/utilities/mixin' as *;
@use '/src/core/scss/utilities/variables' as *;

.modal-shades {
  @include flexbox(column, nowrap, normal, normal);
  overflow: auto;
  max-height: 85vh;
  border-radius: 1rem;

  &__color {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: minmax(6rem, 20rem);
    cursor: pointer;
    gap: 1rem;
    padding: 0.2rem;

    &:hover {
      color: $secondary;
    }
  }
  &__hex {
    border-radius: 0.4rem;
    padding: 0.1rem 0.5rem;
    background: #00000052;
    box-shadow: 0 4px 30px #0000001a;
    border: 1px solid #ffffff4d;
  }
}
