@use '/src/core/scss/utilities/mixin' as *;
@use '/src/core/scss/utilities/variables' as *;

.color-palette {
  padding: 1rem;
  display: grid;
  position: relative;
  gap: 0.3rem;
}

.home {
  background-image: url('https://cdn.pixabay.com/photo/2024/12/03/16/06/ai-generated-9242497_1280.jpg');
  background-size: cover;
  @include overlay(#0000008c);

  &__options {
    position: relative;
    @include flexbox(row, nowrap, end, center);
    color: $white;
    gap: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
  }

  &__content {
    position: relative;
    @include flexbox(column, nowrap, normal, normal);
    gap: 2rem;
    padding: 1rem;
    color: $white;

    &__header {
      @include flexbox(column, nowrap, normal, center);
      gap: 0.3rem;
    }
    &__section {
      max-width: 1200px;
      width: 100%;
      margin: auto;
    }
  }

  &__title {
    font-size: 2rem;
    text-align: center;
  }

  &__list {
    @include flexbox(column, nowrap, normal, normal);
    gap: 0.5rem;
    padding: 1rem;

    &__element {
      @include flexbox(row, nowrap, normal, center);
      gap: 1rem;
    }
  }
}
