@use '/src/core/scss/utilities/mixin' as *;
@use '/src/core/scss/utilities/variables' as *;

.color-palette {
  position: relative;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 0.3rem;
}

.home {
  @include configureImage('/src/assets/home.jpg', cover, center);
  @include overlay($overlay-dark);
  min-height: $pages-min-height;
  padding: 1rem;

  &__options {
    @include flexbox(row, nowrap, end, center);
    position: relative;
    color: $white;
    gap: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
  }

  &__content {
    @include flexbox(column, nowrap, normal, normal);
    position: relative;
    gap: 2rem;
    padding: 1rem;
    color: $white;
  }

  &__info {
    @include flexbox(column, nowrap, center, center);
    position: relative;
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
  }
  &__description {
    text-align: center;
  }
  &__paragraph {
    @include flexbox(column, nowrap, normal, normal);
    gap: 0.5rem;
    font-size: 1.1rem;
  }
}

.transparent {
  background-color: transparent;
  color: transparent;
}
