@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.header-main {
  @include overlay(#0000008c);
  background-image: url('https://images.pexels.com/photos/1694000/pexels-photo-1694000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
}

.header {
  @include flexbox(row, nowrap, space-between, center);
  gap: 1rem;
  padding: 1rem 2rem;
  position: relative;

  &__buttons {
    @include flexbox(row, nowrap, space-between, center);
    gap: 3rem;
  }

  &__dropdown {
    position: absolute;
    left: 0;
    z-index: 2;
    width: 100%;
    transition: all 0.3s ease-in-out;

    &--hidden {
      left: -100%;
    }
  }
}

.btn-github {
  @include flexbox(row, nowrap, space-between, center);
  gap: 0.5rem;
}

.nav-btn {
  cursor: pointer;
  display: none;
  height: 1.5rem;
}

@media screen and (max-width: 950px) {
  .header__buttons {
    gap: 1rem;
  }
  .nav-btn {
    display: block;
  }
  .btn-github {
    font-size: 1.2rem;
    &__text {
      display: none;
    }
  }
}
