@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.modal {
  @include flexbox(row, nowrap, center, center);
  position: fixed;
  background-color: $modal;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
  padding: 1rem;

  &__main {
    position: relative;
    border: 1px solid $white;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem 1.5rem;
    background-color: #ffffff23;
    color: $white;
  }

  &__btn {
    cursor: pointer;
    position: absolute;
    top: 1vh;
    right: 1vh;
    font-size: 2rem;
    &:hover {
      color: #f00;
    }
  }
}
