@use '/src/core/scss/utilities/mixin' as *;
@use '/src/core/scss/utilities/variables' as *;

.select-file {
  @include flexbox(column, nowrap, center, center);
  gap: 1.5rem;
  position: relative;

  &__img {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid $main;
    box-shadow: 2px 2px 4px #1f1235;
  }

  &__hover {
    @include flexbox(row, nowrap, center, center);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000a1;
    border-radius: 1rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    font-size: 1.1rem;
    font-weight: bolder;
    padding: 1rem;

    &:hover {
      opacity: 1;
    }
  }

  &__icon {
    font-size: 3rem;
    margin: 0.5rem auto;
    color: #b9b9b9;
  }
  &__text {
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
  }
  &__btn {
    cursor: pointer;
    padding: 0.3rem 2rem;
    border-radius: 0.5rem;
    background: $main;
    color: $black;

    &:hover {
      background: $secondary;
      color: $white;
    }
    &:active {
      box-shadow: 2px 2px 4px #1f1235 inset;
      border: none;
    }
  }
}
