@use '/src/core/scss/utilities/mixin' as *;
@use '/src/core/scss/utilities/variables' as *;

.select-file {
  &__icon {
    font-size: 3rem;
    margin: 0.5rem auto;
    color: #b9b9b9;
  }
  &__text {
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
    color: $main;
  }
  &__btn {
    cursor: pointer;
    padding: 0.3rem 2rem;
    border-radius: 0.5rem;
    background: $main;
    color: $black;

    &:hover {
      background: $secondary;
      color: $white;
    }
    &:active {
      box-shadow: 2px 2px 4px #1f1235 inset;
      border: none;
    }
  }
}
