@use '../ui/color-card';
@use '../layout/home';

@media screen and (max-width: 800px) {
  // color-palette (home)

  .color-palette {
    display: flex;
    flex-direction: column;
  }
  .color-card {
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    height: auto;

    &__options {
      flex-direction: row;
    }
  }

  .not-on-mobile {
    display: none;
  }
}
