@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.color-card {
  @include flexbox(column, nowrap, space-between, center);
  padding: 1rem 0 2rem 0;
  height: 20rem;

  &:hover {
    @include overlay(#00000052);
  }

  &:hover > .color-card__options {
    display: flex;
  }

  &__title {
    color: $white;
    position: relative;
    border-radius: 0.4rem;
    padding: 0.1rem 0.5rem;
    background: #00000052;
    box-shadow: 0 4px 30px #0000001a;
    border: 1px solid #ffffff4d;
  }

  &__options {
    @include flexbox(column, nowrap, normal, center);
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    position: relative;
    color: $white;
    display: none;
  }
}
