@use '/src/core/scss/utilities/mixin' as *;
@use '/src/core/scss/utilities/variables' as *;

.image-palette {
  @include overlay(#0000008c);
  @include flexbox(column, nowrap, normal, normal);
  gap: 2rem;
  color: $white;
  padding: 1rem;
  min-height: 100vh;
  background-image: url('/src/assets/other-pages.jpg');
  background-size: cover;

  &__info {
    @include flexbox(column, nowrap, center, center);
    gap: 0.5rem;
    position: relative;
    margin: 0 0 3rem 0;
  }
  &__img {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid $main;
    box-shadow: 2px 2px 4px #1f1235;
  }
  &__file {
    position: relative;
    @include flexbox(column, nowrap, center, center);
    gap: 1.5rem;
    color: $main;
    position: relative;
  }

  &__container {
    display: flex;
    position: relative;
  }

  &__colors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem 4rem;
    width: 30rem;
    margin: auto;
  }
}

.select-file {
  &__icon {
    font-size: 3rem;
    margin: 0.5rem auto;
    color: #b9b9b9;
  }
  &__text {
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
  }
  &__btn {
    cursor: pointer;
    padding: 0.3rem 2rem;
    border-radius: 0.5rem;
    background: $main;
    color: $black;

    &:hover {
      background: $secondary;
      color: $white;
    }
    &:active {
      box-shadow: 2px 2px 4px #1f1235 inset;
      border: none;
    }
  }
}
