@use '/src/core/scss/utilities/mixin' as *;
@use '/src/core/scss/utilities/variables' as *;

.color-palettes-card {
  @include flexbox(column, nowrap, normal, normal);
  gap: 0.5rem;
  background-color: #0000009c;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 6px #1f1235;
  padding: 1rem 1rem 0.5rem 1rem;
  color: $white;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  &__palette {
    @include flexbox(column, nowrap, normal, normal);
    gap: 0.2rem;
    border-radius: 0.3rem;
    overflow: hidden;
  }
  &__content {
    @include flexbox(row, nowrap, normal, center);
    gap: 0.5rem;
  }

  &__color {
    @include flexbox(column, nowrap, end, start);
    height: 1.5rem;
    width: 100%;
    border-radius: 1rem;
  }

  &__buttons {
    @include flexbox(row, nowrap, end, center);
  }
}
